{% extends 'authenticatorbase.html' %}
{% load static %}
{% block title %}Register{% endblock %}


{% block content %}
<section class="login">
  <div class="login_box">
    <div class="left">
      <div class="top_link"><a href="{% url 'index' %}"><img src="https://drive.google.com/u/0/uc?id=16U__U5dJdaTfNGobB_OpwAJ73vM50rPV&export=download" alt="">Return home</a></div>
      <div class="contact">
        <form action="{% url 'login' %}" method="POST">      
            {% csrf_token %}
          <h3>SIGN IN</h3>
          {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {{form.username}}
          {{form.passwd}}         
          <button type="submit" class="submit">LET'S GO</button>
          <br>
          <h6>Don't have an account yet?<a href="{% url 'register' %}">Sign Up</a></h6>
        </form>
      </div>
    </div>
    <div class="right"></div>
  </div>
</section>
{% endblock %}


