{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="prodetails" class="section-p1">
    <div class="single-pro-image">
        <img src="{{ product.main_image.url }}" width="100%" id="MainImg" alt="">
        <div class="small-img-group">
            <div class="small-img-col">
                <img src="{{ product.main_image.url }}" width="100%" class="small-img" alt="">
            </div>
            <div class="small-img-col">
                <img src="{{ product.image1.url }}" width="100%" class="small-img" alt="">
            </div>
            <div class="small-img-col">
                <img src="{{ product.image2.url }}" width="100%" class="small-img" alt="">
            </div>
            <div class="small-img-col">
                <img src="{{ product.image3.url }}" width="100%" class="small-img" alt="">
            </div>
        </div>
    </div>
    <div class="single-pro-details">
        <h6>{{ product.marque }}</h6>
        <h4>{{ product.title }}</h4>
        <h2>${{ product.price }}</h2>
        <form action="{% url 'add_to_cart' product_id=product.id %}" method="POST">
            {% csrf_token %}
            <input type="number" name="quantity" value="1">
            {% if product.category.name == 'chemise' %}
                <select name="size">
                    <option value="">Select Size</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                    <option value="Small">Small</option>
                    <option value="Large">Large</option>
                </select>
            {% elif product.category.name == 'Shoes' %}
                <select name="size">
                    <option value="">Select Size</option>
                    {% for size in size_range %}
                        <option value="{{ size }}">{{ size }}</option>
                    {% endfor %}
                </select>
            {% endif %}

            <!-- Champ caché pour stocker l'URL de la page actuelle -->
            <input type="hidden" name="next_action" value="{{ request.path }}">

            <button type="submit" class="normal">Add To Cart</button>
        </form>
        <h4>Product Details</h4>
        <span>{{ product.description }}</span>
    </div>
</section>
{% endblock %}
